@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    color: #123;
}

/* Headings & Logo */

h1, h2 {
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    font-weight: 300;
    color: rgb(321, 1, 1);
    letter-spacing: 5px;
}

#text-logo {
    float: left;
    font-size: 250%;
}

#trans-logo {
    float: left;
    width: 200px;
    padding-left: 15px;
    padding-top: 15px;
}

/* Navigation Links */

#menu {
    font-size: 150%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 15px;
    margin-top: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border: 2px solid rgb(321, 1, 1);
    border-radius: 10%;
}

.active {
    border: 2px solid #123;
    border-radius: 10%;
}