@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    color: whitesmoke;
    background-color: #123;
}

/* Headings & Logo */

h1, h2 {
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    color: whitesmoke;
    letter-spacing: 5px;
}

h3, h4 {
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    color: whitesmoke;
    letter-spacing: 3px;
}

    /* Below text-logo not currently in use */
    #text-logo {
        float: left;
        font-size: 250%;
    }

#trans-logo {
    float: left;
    width: 200px;
    padding: 15px 15px 15px 30px;
}

/* Navigation Links */

#menu {
    font-size: 150%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 33px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border: 2px solid rgb(250, 30, 30);
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-block-width: 110%;
}

.active {
    border: 2px solid gray;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

/* Hero Image & Hero Text */

#hero-outer {
    height: 555px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2{
    color: whitesmoke;
}

#hero-image {
    height: 555px;
    width: 100%;
    background: url(../images/gallery/lightbulb2.jpg) no-repeat center center;

    /* Hero Zoom Animation */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Hero Image Animation */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.25);
    }
}

#cover-text {
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 5px;

    width: 600px;
    height: 150px;

    padding-top: 50px;
    padding-left: 15px;

    background-color: rgba(250, 30, 30, 0.6);

    bottom: 50px;
    left: 100px;

    position: absolute;
}

/* Life Hack Examples */

#life-hack-examples {
    height: 600px;

}

#left-example {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: rgba(253, 157, 31, 0.6);
}

#right-example {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: rgba(253, 157, 31, 0.6);
}

#center-example {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
    background-color: rgba(253, 157, 31, 0.6);
}

hr {
    border-top: 1px solid whitesmoke;
}

#left-example-content {
    width: 66%;
    line-height: 33px;
    clear: both;
    margin-bottom: 50px;
    margin-right: 10%;
    float: right;
    text-align: center;
}

#right-example-content {
    width: 66%;
    line-height: 33px;
    clear: both;
    margin-bottom: 50px;
    margin-left: 10%;
    float: left;
    text-align: center;
}

#center-example-content {
    padding: 0 16% 0 16%;
    line-height: 33px;
    clear: both;
    margin-bottom: 50px;
    text-align: center;
}

#examples-heading {
    text-align: center;
    margin: 25px;
    font-size: 333%;
}

/* example section */

#example {
    background-image: url("../images/gallery/lightbulb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#example div {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.8);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid #123;
    box-sizing: border-box;
}

#example h2 {
    color: whitesmoke;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    margin: 1%;
    padding: 5%;
    color: whitesmoke;
}